* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.gridContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

div.gridContainer.paused {
  cursor: disabled;
}

div.cell {
  border: 1px solid rgb(34, 34, 34);
  background-color: white;
}

div.cell.ship {
  background-color: rgb(255, 146, 146);
}

div.cell.active:hover {
  background-color: rgb(238, 238, 238);
  cursor: pointer;
}
div.cell.active:active {
  transform: translateY(1px);
}

div.cell.hit {
  background-color: rgb(158, 89, 89);
}
div.cell.miss {
  background-color: rgb(184, 184, 184);
}

div.grid {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid rgb(34, 34, 34);
}

div.message h1 {
  font-size: 2rem;
}
